@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
  <h1>SignalRResubscribeIssue</h1>

    <h4>
      just stop and start connection a few times, send a message. Install js < 2.4.0 and this issue is not there.
    </h4>
    <p id="messages"></p>
</div>

<script>
    $(function () {
        $.connection.hub.logging = true;
        var messagingHubProxy = $.connection.messagingHub;

        messagingHubProxy.client.receiveMessage = function (message) {
            $('#messages').append(message);
            $('#messages').append('<br />');
        };

        $.connection.hub.start().done(function () {
            console.info('SignalR is connected.');
        });

        $('#btnSubmit').prop('disabled', true);
        $('#txtMessage').keyup(function () {
            $('#btnSubmit').prop('disabled', $.trim(this.value).length == 0 ? true : false);
        })

        $('#btnSubmit').click(function () {

            // disable button to prevent multiple clicks.
            $("#btnSubmit").prop("disabled", true);

            // get message string...
            var message = $('#txtMessage').val();

            // if it wasn't empty...
            if (message != null && $.trim(message) != '') {
                $.connection.messagingHub.server.sendOthers(message);

                // ready for next message
                $('#txtMessage').val('');
                $("#btnSubmit").prop("disabled", false);

            } else {
                // enable it.
                $("#btnSubmit").prop("disabled", false);
            }
        });

        var canConnectSignalR = function(){
            //$.ajax({
            //    url: '/api/settings/sendMessage?message=' + message,
            //    type: 'POST',
            //    contentType: 'application/json',
            //    success: function (result) {
            //        console.debug('message ' + message + ' send.');
            //        $('#txtMessage').val('');

            //        // enable it.
            //        $("#btnSubmit").prop("disabled", false);
            //    },
            //    error: function (err) {
            //        console.warn('Error in server response.');
            //        console.log(err);

            //        // enable it.
            //        $("#btnSubmit").prop("disabled", false);
            //    }
            //});
        }
    });
</script>
<div class="row">
  <div class="col-md-3">
    <div class="input-group">
      <input type="text" id="txtMessage" placeholder="Enter a message here..." name="message" class="form-control" />
      <span class="input-group-btn">
        <button type="submit" id="btnSubmit" class="btn btn-primary">Send</button>
      </span>
    </div>
    
  </div>
  <div class="col-md-3">
    <button type="button" class="btn btn-primary" onclick="$.connection.hub.stop()">stop connection</button>
    <button type="button" class="btn btn-primary" onclick="$.connection.hub.start()">start connection</button>
  </div>
  </div>
